<h1>How I completed project 2</h1>

<ul>
<li>installed bootstrap sass by adding "gem 'bootstrap-sass'" in the Gemfile</li>
<li>added "project_2" in the pages_controller.rb</li>
<li>updated routes.rb by adding "get 'pages/project_2'"</li>
<li>updated home.html.erb to link to project_2</li>
<li>created this page by creating and adding the file "project_2.html.erb" in app/views/pages</li>
</ul>
